<launch>
  <include file="$(find ydlidar_ros)/launch/X4.launch" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /laser_frame 40" />
  <!--node pkg="tf" type="static_transform_publisher" name="world_to_map"
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /world 40"/>
  <node name="odom" pkg="sim" type="odom"/-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find map)/map.yaml"/>
  <include file="$(find start)/amcl.launch">
  <node name="lidartoroborio" pkg="lidartoroborio" type="lidartoroborio.py" output="screen"/>
  <!--node name="rviz" pkg="rviz" type="rviz" args="-d $(find ydlidar_ros)/launch/lidar.rviz"/-->
</launch>
